body {
background-color: aqua;
}

h1 {
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    
}

img {
    float: left;
    margin-right: 10px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

}